<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/button.css">
    <title>Button</title>
</head>
<body>
    
    <div style="display: flex; flex-direction: column; margin: 30px; justify-content: center; align-items: center;">

        <button class="btn--large_enabled" style="margin-bottom: 10px;">Login</button>
        <button class="btn--small_enabled">Button</button>
        <button class="btn--large_disabled">Button</button>
        <button class="btn--small_disabled">Button</button>

    </div>
</body>
</html>