
.btn--large_enabled {
    padding: 12px 154px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    height: 44px;
    width: 360px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--enabled-color);
    color: #ffffff;
}
.btn--small_enabled {
    background-color: var(--enabled-color);
    color: #ffffff;
    width: 78px;
    padding: 9px 0;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
.btn--large_disabled {
    padding: 12px 154px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    height: 44px;
    width: 360px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--disabled-color);
    color: #ADADAD;
}
.btn--small_disabled {
    background-color: var(--disabled-color);
    color: #ADADAD;
    padding: 9px 0;
    font-size: 16px;
    font-weight: 500;
    width: 78px;
    border-radius: 8px;
    outline: none;
    border: none;
}


.btn--large_enabled:hover
,.btn--small_enabled:hover{
    background-color: var(--hover-color);
}
.btn--large_disabled:hover,
.btn--small_disabled:hover {
    pointer-events: none;
}

