.btn--large_enabled {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 360px;
    border-radius: 8px;
    background-color: var(--enabled-color);
    color: #ffffff;
    padding: 12px 0px;
    margin: 10px 0;

}
.btn--small_enabled {
    background-color: var(--enabled-color);
    color: #ffffff;
    width: 78px;
    padding: 9px 0;
    font-size: 16px;
    border-radius: 8px;
}
.btn--large_disabled {
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 360px;
    border-radius: 8px;
    background-color: var(--disabled-color);
    color: #ADADAD;
}
.btn--small_disabled {
    background-color: var(--disabled-color);
    color: #ADADAD;
    padding: 9px 0;
    font-size: 16px;
    font-weight: 500;
    width: 78px;
    border-radius: 8px; 
}


.btn--large_focused {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 360px;
    background-color: var(--white-color);
    color: var(--focused-color);
    border: 2px solid var(--focused-color);
    border-radius: 8px;
    padding: 12px 0px;
    margin: 10px 0;

}


.btn--large_enabled:hover
,.btn--small_enabled:hover{
    background-color: var(--hover-color);
}
.btn--large_disabled:hover,
.btn--small_disabled:hover {
    pointer-events: none;
}

