.form {
    width: 450px;
    min-height: 100px;
    align-self: center;
}
.form__heading { 
    margin-bottom: 40px;
}

.form__heading h2 {
    color: #344054;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.form__heading p {
    color: #667085;
    font-size: 16px;
    font-weight: 400;
}

.form__group {
    width: 360px;
    margin: auto;
}
.form__info {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.form__label {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.form__input {
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
}


.form__input input {
    border: none;
    outline: none;
    flex: 2;
    padding-right: 20px;
}

.form__request {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 30px 0;
}
.form__request a {
    color: var(--enabled-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.form__forget label{
    color: #5A5A5A;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.sign-up {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #344054;
}
.sign-up a {
    color: var(--enabled-color);
}
@media only screen and (max-width: 786px) {
    .form {
        width: 360px;
    }
  }