* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: #ffffff;
}

:root {
    --enabled-color: #0163B3;
    --disabled-color: #E6E6E6;
    --hover-color: #5590E5;
    --focus-color: 
    --pressed-color: #002E68;
}